.start-container {
  background-image: url('C:\NATALIA\7\CAPSTONE DP\Edunow\proyecto\react-app\src\assets\img\start.png'); /* Usa tu imagen aquí */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.overlay {
  text-align: center;
}

.title {
  font-size: 150px;
  color: white;
  text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
  font-weight: 900;
  margin-bottom: 20px;
}

.play-button {
  background-color: #1e90ff;
  color: white;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border: none;
  font-size: 32px;
  font-weight: 700;
  padding: 15px 60px;
  border-radius: 15px;
  cursor: pointer
}
.play-button:hover {
  background-color: #192f45;
  color: white;
  border: none;
  font-size: 32px;
  font-weight: 700;
  padding: 15px 60px;
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.1);
}