@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

.layout {
  display: flex;
  height: 100vh;
  background-color: #f5f6fa;
  font-family: 'Holtwood One SC', serif;
}

.sidebar {
  width: 300px;
  background-color: #ffffff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.logo-img {
  width: 150px; 
  height: auto;
  margin-bottom: 8px;
}



.sidebar .tab {
  display: block;
  margin: 30px 0;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s;
}

.sidebar .tab:hover {
  background-color: #247ba0;
  color: white;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  background-color: #fff;
  padding: 30px 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}
