@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

.cursos-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;

  font-family: 'Holtwood One SC', serif;
  letter-spacing: 1px;
  font-weight: 100;
}

/* --- Columna izquierda --- */
.cursos-lista {
  flex: 1;
}

.titulo-principal {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.tarjeta-curso {
  background-color: #d9f4fa;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.tarjeta-curso:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.tarjeta-curso.activo {
  border: 3px solid #1c6482;
  background-color: #b9ecf7;
}

.curso-icono {
  width: 70px;
  height: 70px;
}

.curso-titulo {
  font-size: 1.2rem;
  font-weight: bold;
}

.curso-descripcion {
  font-size: 0.85rem;
  color: #555;
   font-family: "Inter", sans-serif;
}

/* --- Columna derecha --- */
.curso-detalle {
  flex: 1;
  background-color: #efefef;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.curso-banner {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.detalle-titulo {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.detalle-duracion {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.detalle-descripcion {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.5;
  margin-bottom: 1.5rem;
 font-family: "Inter", sans-serif;
}

.botones {
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: #518996;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 0px #023238;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: "Inter", sans-serif;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #8fbcc0;
}
